@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

html,
body {
  @apply bg-white dark:bg-gray-950;
}

html[data-theme="dark"] {
  color-scheme: dark;
}
