{{- if .Values.web.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.web.fullname" . }}
  labels:
    {{- include "app.web.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "app.web.selectorLabels" . | nindent 4 }}
{{- end }}
